<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComponentVideo</key>
	<dict>
		<key>target</key>
		<string>Video</string>
		<key>Video</key>
		<string>video:</string>
	</dict>
	<key>ComponentAvdio</key>
	<dict>
		<key>target</key>
		<string>Avdio</string>
		<key>Play</key>
		<string>play:</string>
		<key>Resume</key>
		<string>resume:</string>
		<key>Pause</key>
		<string>pause:</string>
		<key>Stop</key>
		<string>stop:</string>
		<key>Record</key>
		<string>record:</string>
	</dict>
	<key>ComponentAliPay</key>
	<dict>
		<key>target</key>
		<string>Ali</string>
		<key>Pay</key>
		<string>aliPay:</string>
		<key>Login</key>
		<string>aliLogin:</string>
		<key>Share</key>
		<string>aliShare:</string>
	</dict>
	<key>ComponentLianLian</key>
	<dict>
		<key>target</key>
		<string>LLPay</string>
		<key>Pay</key>
		<string>llPay:</string>
		<key>Sign</key>
		<string>llSign:</string>
	</dict>
	<key>ComponentQQ</key>
	<dict>
		<key>target</key>
		<string>Tencent</string>
		<key>Share</key>
		<string>qqShare:</string>
		<key>Login</key>
		<string>qqLogin:</string>
		<key>Pay</key>
		<string>qqPay:</string>
	</dict>
	<key>ComponentWeChat</key>
	<dict>
		<key>target</key>
		<string>WeChat</string>
		<key>Pay</key>
		<string>wechatPay:</string>
		<key>Login</key>
		<string>wechatLogin:</string>
		<key>Share</key>
		<string>wechatShare:</string>
		<key>Program</key>
		<string>wechatMiniProgram:</string>
		<key>IsInstall</key>
		<string>isInstallWechat:</string>
	</dict>
	<key>ComponentSina</key>
	<dict>
		<key>target</key>
		<string>Weibo</string>
		<key>Login</key>
		<string>weiboLogin:</string>
		<key>Share</key>
		<string>weiboShare:</string>
	</dict>
	<key>ComponentLocation</key>
	<dict>
		<key>target</key>
		<string>Location</string>
		<key>Once</key>
		<string>location:</string>
		<key>Keep</key>
		<string>lastLocation:</string>
		<key>StopKeep</key>
		<string>stopLocation:</string>
		<key>StopSend</key>
		<string>stopSend:</string>
	</dict>
	<key>ComponentNavi</key>
	<dict>
		<key>target</key>
		<string>Navi</string>
		<key>Walking</key>
		<string>walk:</string>
		<key>Riding</key>
		<string>ride:</string>
		<key>Driving</key>
		<string>drive:</string>
	</dict>
	<key>ComponentPush</key>
	<dict>
		<key>target</key>
		<string>Push</string>
		<key>SetAlias</key>
		<string>setAlias:</string>
		<key>DeleteAlias</key>
		<string>deleteAlias:</string>
		<key>AddTags</key>
		<string>addTags:</string>
		<key>DeleteTags</key>
		<string>deleteTags:</string>
		<key>GetAllTags</key>
		<string>getAllTags:</string>
	</dict>
	<key>ComponentAnalytics</key>
	<dict>
		<key>target</key>
		<string>Analyze</string>
		<key>OnProfileSignIn</key>
		<string>providerStart:</string>
		<key>OnProfileSignOff</key>
		<string>providerEnd:</string>
		<key>OnPageStart</key>
		<string>pageStart:</string>
		<key>OnPageEnd</key>
		<string>pageEnd:</string>
		<key>OnEvent</key>
		<string>eventOn:</string>
	</dict>
	<key>ComponentQR</key>
	<dict>
		<key>target</key>
		<string>ScanCode</string>
		<key>Scan</key>
		<string>scan:</string>
		<key>Photo</key>
		<string>recognize:</string>
		<key>Create</key>
		<string>setImage:</string>
		<key>Parse</key>
		<string>getCode:</string>
	</dict>
	<key>ComponentMedia</key>
	<dict>
		<key>target</key>
		<string>MultiImage</string>
		<key>Camera</key>
		<string>takePhoto:</string>
		<key>Photo</key>
		<string>choosePics:</string>
		<key>Video</key>
		<string>choosePics:</string>
		<key>Audio</key>
		<string>audio</string>
		<key>Base64</key>
		<string>transmitToBase64:</string>
		<key>Save</key>
		<string>saveImage:</string>
	</dict>
	<key>ComponentMobile</key>
	<dict>
		<key>target</key>
		<string>Public</string>
		<key>CallPhone</key>
		<string>call:</string>
		<key>Clean</key>
		<string>clean:</string>
		<key>StatusBar</key>
		<string>changeStatusBar:</string>
		<key>Clipboard</key>
		<string>copyToBoard:</string>
		<key>SendSMS</key>
		<string>sendMessage:</string>
		<key>Contacts</key>
		<string>getAddress:</string>
		<key>Device</key>
		<string>getDeviceInfo:</string>
		<key>App</key>
		<string>geAppInfo:</string>
		<key>Web</key>
		<string>goToWeb:</string>
		<key>Pop</key>
		<string>pop:</string>
		<key>Active</key>
		<string>appActive:</string>
		<key>Preview</key>
		<string>quickLook:</string>
		<key>Snip</key>
		<string>snipScreen:</string>
		<key>Shock</key>
		<string>shock:</string>
		<key>Buzzing</key>
		<string>buzzing:</string>
		<key>Remind</key>
		<string>addMindEvent:</string>
		<key>AddNoti</key>
		<string>localPush:</string>
		<key>DelNoti</key>
		<string>removeNotification:</string>
		<key>DelAll</key>
		<string>removeAllNotification:</string>
		<key>Share</key>
		<string>appShare:</string>
		<key>Badge</key>
		<string>setBadge:</string>
		<key>FlashLight</key>
		<string>openSplash:</string>
	</dict>
	<key>ComponentHttp</key>
	<dict>
		<key>target</key>
		<string>Network</string>
		<key>FileUpload</key>
		<string>uploadMultiFile:</string>
		<key>HttpGet</key>
		<string>request:</string>
		<key>OnEvent</key>
		<string>request:</string>
		<key>FileDownload</key>
		<string>download:</string>
		<key>Check</key>
		<string>checkNetwork:</string>
	</dict>
	<key>ComponentAmap</key>
	<dict>
		<key>target</key>
		<string>AMap</string>
	</dict>
	<key>ComponentUmeng</key>
	<dict>
		<key>target</key>
		<string>Umeng</string>
	</dict>
	<key>ComponentApp</key>
	<dict>
		<key>target</key>
		<string>Public</string>
		<key>JumpWeb</key>
		<string>goToWeb:</string>
		<key>JumpBrowser</key>
		<string>goToBrowser:</string>
	</dict>
</dict>
</plist>
